// main styles
@import 'partials/vars';
@import 'partials/defaults';
@import 'partials/utilities';

header{
    background: $white-col;
    height: 80px;
    .container{
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    img{
        width: 60px;
        margin-right: 30px;
    }
    a{
        color:$back-col;
        text-decoration: none;
        margin-right: 20px;
        font-weight: bold;
    }
}

main{
    padding:50px 0;

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
       
    }
    .card{
        width: calc(100% / 6 - 20px);
        margin:20px 0;
        height: 220px;
        
        img{
            width: 100%;
        }
        p{
            font-size: 14px;
        }
    }
}

