* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1c1c;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 1.5rem;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 1rem;
}

.text-center {
  text-align: center;
}

header {
  background: #ffffff;
  height: 80px;
}

header .container {
  height: 100%;
  display: flex;
  align-items: center;
}

header img {
  width: 60px;
  margin-right: 30px;
}

header a {
  color: #1c1c1c;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
}

main {
  padding: 50px 0;
}

main .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

main .card {
  width: calc(100% / 6 - 20px);
  margin: 20px 0;
  height: 220px;
}

main .card img {
  width: 100%;
}

main .card p {
  font-size: 14px;
}

