*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: $back-col;
    color: $white-col;
    font-family: $main-font;
}
img{
    max-width: 100%;
    height: auto;
}
p{
    margin-bottom: 1.5rem;
}